BODY {
	LINE-HEIGHT: 25px; FONT-SIZE: 12px; TEXT-DECORATION: none
}
TD {
	LINE-HEIGHT: 25px; FONT-SIZE: 12px; TEXT-DECORATION: none
}
TH {
	LINE-HEIGHT: 25px; FONT-SIZE: 12px; TEXT-DECORATION: none
}
P {
	LINE-HEIGHT: 25px; FONT-SIZE: 12px; TEXT-DECORATION: none
}
BODY {
	MARGIN: 0px
}
.black12a {
	FONT: 12px/22px "ו"; COLOR: #000000
}
P {
	LINE-HEIGHT: 25px; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.td1 {
	LINE-HEIGHT: 25px; COLOR: #ffe8d0; FONT-SIZE: 12px
}
.input1 {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; PADDING-BOTTOM: inherit; PADDING-LEFT: inherit; PADDING-RIGHT: inherit; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid; PADDING-TOP: inherit
}
.table_td_bottom TD {
	BORDER-BOTTOM: #ccc 1px dashed; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 5px
}
.table_td_left TD {
	BORDER-LEFT: #333333 1px dashed; PADDING-BOTTOM: 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; PADDING-TOP: 0px
}
.table_img_border IMG {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 2px
}
.tab {
	BORDER-COLLAPSE: collapse
}
.xian {
	BORDER-BOTTOM: #666666 1px dashed; LINE-HEIGHT: 28px; BACKGROUND-COLOR: #ebebeb; PADDING-LEFT: 8px; HEIGHT: 28px; COLOR: #cc0000; FONT-SIZE: 14px; BORDER-TOP: #666666 1px dashed; FONT-WEIGHT: bold
}
